PROJECT_NAME="Office-Automation"
DEFAULT_TEXT="CONFIDENTIAL"

REDIS_URL=redis://redis:6379/0      # Redis 连接地址（容器内部域名）
WALL_ADMIN_TOKEN=your_secure_token  # 管理员鉴权令牌
WALL_TTL=240                        # 消息销毁倒计时（秒）

# SSL 证书在宿主机上的绝对路径
SERVER_NAME=rust.8nine64.icu
SSL_CERT_PATH=/etc/letsencrypt/live/${SERVER_NAME}/fullchain.pem
SSL_KEY_PATH=/etc/letsencrypt/live/${SERVER_NAME}/privkey.pem
# this is env modle